@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(to right, #0a1caa,#841ed2); /* Red */
  color: hsl(240, 9%, 96%); 
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



